<section class="signUp">
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form [formGroup]="signUpForm" (ngSubmit)="submitReactiveForm()" class="sign-up-form">
          <h2 class="title">Sign Up</h2>

          <!--UserName Input-->
          <div class="form-row">
            <div class="form-group">
              <i class="fas fa-user"></i>
              <input type="text" id="inputUserName" name="userName" formControlName="userName" placeholder="Username" />
            </div>
            <!-- UserName Controls -->
            <small class="text-danger"
              *ngIf="(submitFormControls.userName.touched || submitted) && submitFormControls.userName.errors?.required">
              *this field is required*
            </small>
            <small class="text-danger"
              *ngIf="submitFormControls.userName.errors?.forbiddenName || submitFormControls.userName.errors?.pattern">
              please use english character only
            </small>

          </div>

          <!-- Email Input -->
          <div class="form-row">
            <div class="form-group">
              <i class="fas fa-user"></i>
              <input type="email" id="inputEmail" name="email" formControlName="email" placeholder="Email">
            </div>
            <!-- Email Input Controls -->
            <small class="text-danger"
              *ngIf="(submitFormControls.email.touched || submitted) && submitFormControls.email.errors?.required">
              this field is required
            </small>
          </div>

          <!--password Input-->
          <div class="form-rom">
            <div class="form-group">
              <i class="fas fa-lock"></i>
              <input type="password" id="inputPassword" name="password" formControlName="password"
                placeholder="Password" />
            </div>
            <!-- Password Controls -->
            <small class="text-danger"
              *ngIf="(submitFormControls.password.touched || submitted) && submitFormControls.password.errors?.required">
              *Password is required*
            </small>
            <small class="text-danger"
              *ngIf="submitFormControls.password.touched && submitFormControls.password.errors?.pattern">
              *Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter and 1 number*
            </small>
            <small class="text-danger" *ngIf="submitFormControls.password.errors?.forbiddenName">
              *please use english character only*
            </small>
          </div>

          <!--Confirm password Input-->
          <div class="form-row ">
            <div class="form-group">
              <i class="fas fa-lock"></i>
              <input type="password" id="inputConfirmPassword" name="confirmPassword" formControlName="confirmPassword"
                placeholder="Confirm Password" />
            </div>
            <!-- Confirm Password Controls -->
            <small class="text-danger"
              *ngIf="(submitFormControls.confirmPassword.touched || submitted) && submitFormControls.confirmPassword.errors?.required">
              *this field is required*
            </small>
            <small class="text-danger"
              *ngIf="submitFormControls.confirmPassword.touched && submitFormControls.confirmPassword.errors?.passwordMismatch">
              *Passwords doesn't match*
            </small>
          </div>


          <!-- Nationality Input -->
          <div class="form-row">
            <div class="form-group">
              <select id="inputState" [(value)]="Country" class="nationality-input" name="nationality"
                formControlName="nationality">
                <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}}</option>
              </select>
            </div>
            <!-- Nationality Input Controls -->
            <div *ngIf="submitFormControls.nationality.touched && !submitFormControls.nationality.valid">
              <small class="text-danger" *ngIf="submitFormControls.nationality.errors?.required">
                *this field is requierd*
              </small>
            </div>
          </div>

          <!--Submit Button-->
          <button type="submit" class="btn btn-primary solid">Sign Up</button>
          <!-- [disabled]="!signUpForm.valid" -->

          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
            ex ratione. Aliquid!
          </p>
          <button class="btn transparent" id="sign-up-btn" (onClick)="logIn()" routerLink="/signIn">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</section>